.user-inbox .content{
    display: flex;
    height: 100vh;
    margin-left:200px;
    margin-right: 200px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.master{
    width : 300px;
}

.user-inbox .master{
    /* flex:1; */
    border: 1px solid #cccccc;
    border-right-width: 0px;
    overflow-y: auto;
}

.user-inbox .detail{
    flex:3;
    border: 1px solid #cccccc;
    overflow-y: auto;
}

.user-inbox .message {
    text-decoration: none;
    cursor: pointer;
    width: inherit;
    border-bottom: 1px solid #d3d8de;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;   
}

.user-inbox .message:hover{
    background-color: #f6f7f8;
    box-shadow: rgb(0, 115, 177) 4px 0px 0px inset, rgb(243, 246, 248) 0px -1px 0px inset;
}

.user-inbox .message img{
    height: 80px;
    width: 80px;
}

.user-inbox .conversation{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.user-inbox .conversation-list{
    flex: 7;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:25px;
    min-height : 450px;
    overflow-y: auto;
}

.conversation .input-message{
    display: flex;
    align-content: stretch;
    /* flex: 3; */
    align-items: flex-end;
    width: inherit;
    height:auto;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid #cccccc;
}

.conversation {
    overflow-y: auto;
}

.user-inbox textarea{
    margin-right: 10px;
    flex-wrap: wrap;
    /* resize: none; */
}

.msg-conversation-card__row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
}
.ph2, .pr2 {
    padding-right: 8px;
}

.t-14 {
    font-size: 1rem;
    line-height: 1.5;
}

.t-black--light {
    color: rgba(0,0,0,.6);
}

.t1-bold {
    font-weight: 600;
}
.msg-conversation-card__convo-utility {
    white-space: nowrap;
}

.t-12{
    font-size: 0.9rem;
    line-height: 1.5;
    color: rgba(0,0,0,.6);
}

.msg-conversations-container__title-row {
    height: 44px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(205, 207, 210);
}